.outer-container {
  height: 100vh;
  font-family: cursive, arial, helvetica;
  position: relative;
}

.backImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000000;
}

.container {
  position: relative;
  z-index: 2;
  width: 60%;
  max-width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

.inner-container {
  width: 80%;
}

.header h1 {
  font-size: 2rem !important;
  color: rgb(216, 187, 21);
  margin-bottom: 1rem;
}

.sub-header {
  font-size: 1.2rem;
  color: rgb(172, 172, 14);
  padding: 0;
  margin: 1rem 0;
  text-align: center;
}

.menu-list {
  padding: 1rem;
}

.menu-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 365px;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .menu-container {
    padding: 0;
    min-width: 260px;
    max-width: 260px;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.box {
  border: 2px solid green;
  background: black;
  width: 100px;
  height: 100px;
  padding: 0;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}

.box:hover {
  background: green;
}

.box > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .grid {
    margin: 0;
  }
  .box {
    width: 70px;
    height: 70px;
  }
}

.backbtn {
  text-decoration: none;
  display: block;
  margin: 1rem auto auto auto;
  color: white;
  background-color: red;
  padding: 1rem;
  width: 8rem;
}

.backbtn > span {
  display: inline-block;
  position: relative;
  top: 1px;
}

@media screen and (max-width: 450px) {
  .backbtn {
    font-size: 0.8rem;
  }
}

.playerWins {
}

.currentTurn {
  margin-top: 1rem;
  text-align: center;
  color: rgb(216, 187, 21);
}

.outer-modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: black;
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
}

.modal {
  position: absolute;
  z-index: 2;
  background-color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: rgb(216, 187, 21);
  border: 1px solid rgb(216, 187, 21);
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 300px;
  opacity: 0.6;
}

.modal-title-container {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.modal-title {
  padding: 0;
  margin: 0;
}

.modal-message-container {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.modal-button-container {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.modal-button-container > button {
  padding: 0.5rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-button-container > button:hover {
  background: green;
}

.modal-reset-btn {
  margin-right: 1rem;
}
